$f_padd: 100px;

.icon-style{
  color: black;
  display: block;
  font-size: 60px;
}

footer{
  .links{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 200px;

    a{
      padding-left: $f_padd;
      margin-right: 0px;

      width: 40px;
      display: inline-block;
      color: $blue;
      
      &.github{
        @extend .icon-style;
        @extend .fa-github;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }

      &.instagram{
        @extend .icon-style;
        @extend .fa-instagram;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }

      &.twitter{
        @extend .icon-style;
        @extend .fa-twitter;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }

      &:first-child{
        padding-left: 0px;
      }
    }
  }
}
