$f_padd: 120px;

.icon-style{
  color: black;
  display: block;
  font-size: 50px;

  @include viewport(sm){
    font-size: 24px;
  }

}

footer{
  .links{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 200px;
    height: 100%;

    @include viewport(sm){
      width: 200px;
      margin-bottom: 100px;
      //height: 200px;
    }


    a{
      padding-left: $f_padd;
      margin-right: 0px;

      width: 40px;
      display: inline-block;
      color: $blue;
      text-decoration: none;

      @include viewport(sm){
        padding-left: 40px;
        margin: 0 auto;
      }

      
      &.github{
        @extend .icon-style;
        @extend .fa-github;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }
      &.codepen{
        @extend .icon-style;
        @extend .fa-codepen;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }
      &.instagram{
        @extend .icon-style;
        @extend .fa-instagram;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }

      &.twitter{
        @extend .icon-style;
        @extend .fa-twitter;
        @extend .fa;
        display: inline-block;
        color: $blue;
      }

      &:first-child{
        padding-left: 0px;
      }
    }
  }
}
