$f_padd: 80px;

footer{
  .links{
    width: 400px;
    margin: 0 auto;

    a{
      padding-left: $f_padd;
      img{
        width: 40px;
      }

      &:first-child{
        padding-left: 0px;
      }
    }
  }
}
