#header{
  height: 80px;
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 0px;
  
  #right{
    position: absolute;
    right: 24px;
  }

  a{
    color: black;
    text-decoration: none;
    
    &:visited{
      text-decoration: none;
      color: black;
      background: $font_bg;
    }

    &:hover{
      background: $font_bg;
    }
  }

  #left{
    float: left;

    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 18px;
    margin-left: 24px;
    
    h1{
      margin: 0px;
      background: $font_bg;
    }
  }

  div{
    margin-top: 24px;
  }

  a{
    margin: 20px;
  }

  font-family: 'Rubik';
  font-size: 14px;
  //text-transform: uppercase;
}
