.modal-container{

  .close{
    &:before{
      content: "X";
      font-family: "Ubuntu Condensed";
      font-size: 40px;
    }

    position: absolute;
    z-index: 100;
    @include transform( translateZ( 100px ) );
    right: 24px;
    top: 6px;
    font-size: 60px;
    color: white;

    @include viewport( sm ){ font-size: 32px; }
    //@include viewport( sm ){ font-size: 32px; }
  }

  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  background: black;
  position: absolute;
  z-index: 1000;
  @include transform( translateZ( 100px ) );

  #video-container{
    width: 100%;
    height: 100%;

    iframe{
      width: 90%;
      height: 90%;
      @include center();
      border: 0px;

      max-width: 1024px;
      max-height: 720px;

      @include viewport(sm){
        max-width: 480px;
        max-height: 320px;

      }
    }
  }
}
