// --- mix it in --

@mixin main-font(){
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: bold;
}

$mt: 50px;
$med_font: 20px;

// --- work work work ---
//
.music{
  font-size: 10px;
  b{
    line-height:-20px;
    display:inline-block;
    padding-bottom: 20px;
    //position: absolute;
  }

  //position: absolute
}

#work{
  text-align: center;
  //border-left: grey 1px solid;
  //border-right: grey 1px solid;
  //
  margin-top: 248px;

  .title{
    h1{
      font-size: 28px;
      background: $font_bg;
    }
  }

  #music-title{
    //opacity: 0;
    margin-bottom: 80px;
  }

  .project{
    min-height: 640px;
    height: 100%;
    min-width: 1280px;
    max-width: 1480px;
    margin: 0 auto;
    height:640px;
    position: relative;
    display:blockelement;

  .arrow{
    @extend .fa;
    @extend .fa-long-arrow-down;
  
    @extend .arrow-bounce;
 
    color: $col;
    //@include f_col( 0.6 ); 
    position: absolute;
    @include horizontal-align;
    bottom: -25px;
    font-size: 25px;
  }


    width: 100%;

    .description{
      //width: 720px;
      margin: 0 auto;
      opacity: 1;
      @include main-font();
      //@include transform( translateY( 200px )
    }


    h1{
      margin: 0px;
      height: 60px;
      line-height: 62px;
    }

    &.alt{
      .specs{
        float: right;
      }
      .poster{
        float: left;
      }
    }

    .specs, .poster{
      margin-top: $mt;
    }

    .specs{
      float: left;
      width:20%;
      display: inline-block;
      text-align: left;
      padding-left: 20px;
      min-width: 400px;
    }

    .client{
      h2{
        display: inline-block;
        font-size: $med_font;
      }
    }

    .poster{
      float: right;
      width: 1024px;
      margin: $mt auto 0 auto;
      display: inline-block;

      img{
        width: 1024px;
      }
    }

    margin-bottom: 80px;

    iframe{
      min-height: 480px;
      width: 100%;
      height: 100%;
      max-height: 720px;
      max-width: 1024px;
    }

    .role{
      margin-top: 50px;

      h2{
        font-size: $med_font;
      }

      ul{
        margin-left:20px;
        padding-left: 0px;
        li{
          @include main-font();
          font-size: 13px;

          list-style: bullet;
          margin-left: 0px;
          padding-left:0px;
        }
      }
    }


    text-align: center;
    width: 100%;
    height: 100%;
    display: block;

  }
}

