// --- mix it in --

@mixin main-font(){
  font-family: "News Cycle";
  font-size: 14px;
  //font-weight: bold;
  line-height: 18px;
 
  @include viewport(sm){
    font-size: 12px;
    //font-weight: bold;
    line-height: 14px;
  }

}

$mt: 50px;
$med_font: 20px;

$blue: #485982;
$red: #824848;

// --- work work work ---
//
.music{
  font-size: 10px;
  b{
    line-height:-20px;
    display:inline-block;
    padding-bottom: 20px;
    //position: absolute;
  }

  //position: absolute
}

.textshadow{
  text-shadow: 0px 0px 0px lightGray;
}

#work{
  text-align: center;
  //border-left: grey 1px solid;
  //border-right: grey 1px solid;
  @include transform( translateZ( 1px ));

  margin-top: 350px;
  color: rgb( 230,230,230);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @include viewport(sm){
    max-width: 480px;
    min-width: 320px;
  }

  h2{
    font-family: "Fjalla One";
    @include viewport(sm){
      font-size: 12px;
    }
  }

  @extend .textshadow;
  .title{
    h1{
      font-size: 38px;
      font-family: "Fjalla One";
      @extend .textshadow;      
      text-transform: uppercase;
      letter-spacing: 0px;
      @include viewport(sm){
        font-size: 20px;
      }

      //background: $font_bg;
    }
  }

  #music-title{
    //opacity: 0;
    margin-bottom: 80px;
    margin-top: 200px;


    @include viewport(sm){
      font-size: 12px;
    }
  }

  .project{
    //@include horizontal-align;
    min-height: 640px;
    height: 100%;
    margin: 300px auto 0 auto;
    height:640px;
    position: relative;
    display:blockelement;
    color: $blue;
    width: 96%;
    @include viewport(md){ height: 100%; }

    @include viewport(sm){
      width: 100%;
      margin: 120px auto 0 auto;
      height: 100%;
    }

    text-align: center;
    display: block;;

    iframe{
      border: 0px;
    }

    .arrow{
      @extend .fa;
      @extend .fa-long-arrow-down;
    
      @extend .arrow-bounce;
      @extend .textshadow;
      color: lightGray;
      //@include f_col( 0.6 ); 
      position: absolute;
      @include horizontal-align;
      bottom: -25px;
      font-size: 25px;
      @include viewport(sm){ bottom: 30px;}
;
    }

    .description{
      margin: 0 auto;
      opacity: 1;
      @include main-font();
      @extend .textshadow;
    }

    h1{
      margin: 0px;
      height: 60px;
      line-height: 62px;
    }

    &.alt{
      color: $blue;
      .specs{
        width: 27%;
        @include viewport(md){ float: none; width: 100%; }
        float: right;
        @include viewport(sm){
          float: none;
          width: 98%;
          display:block;
          padding-left:6px;
        }

      }
      .poster{

        float: left;
        @include viewport(md){ 
          width: 100%;
          float: none;
        }
        @include viewport(sm){
          float: none;
        }
      }
    }

    .specs, .poster{
      margin-top: $mt;
    }

    .specs{
      float: left;
      width:27%;
      display: inline-block;
      text-align: left;
      padding-left: 20px;
      //min-width: 400px;
      @include viewport(md){ width: 100%; float: none;}
      @include viewport(sm){
        float: none;
        width: 98%;
        display:block;
        padding-left:6px;
        margin-top:12px;

      }

    }

    .client{
      h2{
        display: inline-block;
        font-size: $med_font;

        @include viewport(sm){
          font-size: 13px;
        }

        &:first-child{
          color: lightGray;
        }
      }
    }

    .poster{
      float: right;
      width: 70%;
      max-width: 1024px;
      margin: 88px auto 0 auto;
      display: inline-block;
      //background: lightGray;
      height: 480px;
      display: block;
      @include transform( translateZ( 1px ));
      @include viewport(md){ width: 100%; float: none;}
      color: $blue;
      cursor: pointer;
      &:hover{
        color: white;
      }

      button{
        position: absolute;
        z-index: 10;
        border: 0px;
        background: none;
        //width: 108px;
        //height: 108px;
        //border-radius: 52px;
        top: 34%;
        color:inherit;
        left: 44%;
        cursor: pointer;

        @include viewport(sm){
          top: 30%;
        }
        @include viewport(md){
          top: 26%;
        }


        i{
          @extend .fa;
          @extend .fa-play;
          text-shadow: 0px 0px 10px rgba( 0,0,0,0.5);
          color:inherit;

          @include viewport(sm){
            font-size: 34px;
          }


          font-size: 100px;
        }
      }

      @include viewport(sm){
        float: none;
        width: 100%;
        display:block;
        height: 240px;
      }

      
      iframe{
        //opacity: 0;
        width: 100%;
      }

      border: 0px;

      img{
        width: 100%;
      }
    }

    margin-bottom: 80px;

    iframe{
      min-height: 480px;
      width: 100%;
      height: 100%;

      //max-height: 720px;
      //max-width: 1024px;
      @include viewport(sm){
        float: none;
        width: 100%;
        display:block;
        min-height: 240px;
      }

    }

    .role{
      margin-top: 50px;
      @include viewport(sm){
        margin-top: 12px;
      }
      h2{
        font-size: $med_font;
        color: lightGray;
        @include viewport(sm){
          font-size: 13px;
          margin-bottom:4px;
          margin-top: 4px;
        }

      }

      ul{
        margin-left:20px;
        padding-left: 0px;
        @include viewport(sm){
          margin-top:2px;
        }
        li{
          @include main-font();
          font-size: 13px;
          @include viewport(sm){
            margin-top:0px;
          }

          list-style: bullet;
          margin-left: 0px;
          padding-left:0px;
        }
      }
    }



  }
}

