doctype html
head
  title dhaakon.com

  link(rel="stylesheet", href="css/font-awesome.css", type="css/stylesheet")
  link(rel="stylesheet", href="css/main.css", type="css/stylesheet")
  include ./fonts.jade

