doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title dhaakon.com - David Poyner Interactive Portfolio

        // VIEWPORT
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=no')

        // TWITTER
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@dhaakon")
        meta(name="twitter:url", content="http://dhaakon.com/")
        // FB
        meta(property='og:description', content="")
        meta(property="og:title", content="dhaakon.com")
        meta(property="og:url", content="http://dhaakon.com/")
        meta(property="og:type", content="website")
        meta(property="og:image", content="dhaakon.com/images/facebook_share.jpg")
        meta(property="og:site_name", content="dhaakon.com - David Poyner Interactive Portfolio")

        // META
        meta(name='description', content="dhaakon.com - David Poyner Interactive Portfolio")
        meta(name='keywords', content='front end developer, creative developer, html5, javascript')

        link(rel="stylesheet", href="css/font-awesome.css", type="css/stylesheet")
        link(rel="stylesheet", href="css/main.css", type="css/stylesheet")

        script(src="js/main.js")
        script(src="js/ColladaLoader.js")
        include ./fonts.jade

