// Generator: Adobe Illustrator 16.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='960.867px', height='147.833px', viewbox='0 0 960.867 147.833', enable-background='new 0 0 960.867 147.833', xml:space='preserve')
  g#letters
    path#d(d='M0,4.335h54.599c44,0,74.399,30.2,74.399,69.599v0.4c0,39.399-30.399,69.999-74.399,69.999H0V4.335z\        M54.599,116.534c25.2,0,42.199-17,42.199-41.799v-0.4c0-24.799-17-42.199-42.199-42.199h-23.8v84.398H54.599z')
    | &#x9;
    path#h(d='M136.399,4.335h30.799v55.399h56.799V4.335h30.799v139.998h-30.799V88.134h-56.799v56.199h-30.799V4.335z')
    | &#x9;
    path#a_1_(d='M316.397,3.335h28.4l59.999,140.998h-32.2l-12.8-31.399h-59.199l-12.8,31.399h-31.399L316.397,3.335z\        M348.797,85.734l-18.6-45.399l-18.6,45.399H348.797z')
    | &#x9;
    path#a(d='M464.393,3.335h28.399l59.999,140.998h-32.199l-12.8-31.399h-59.199l-12.8,31.399h-31.4L464.393,3.335z\        M496.792,85.734l-18.6-45.399l-18.6,45.399H496.792z')
    | &#x9;
    path#k(d='M556.392,4.335h30.8v61.199L643.99,4.335h37.199L624.19,63.735l59.6,80.599h-37l-43.399-59.599l-16.199,16.8v42.799\        h-30.8V4.335z')
    | &#x9;
    path#o(d='M661.204,74.734v-0.4c0-39.799,31.399-72.399,74.599-72.399c43.2,0,74.199,32.2,74.199,71.999v0.4\        c0,39.799-31.399,72.399-74.599,72.399S661.204,114.534,661.204,74.734z M777.803,74.734v-0.4c0-24-17.6-43.999-42.399-43.999\        s-41.999,19.6-41.999,43.599v0.4c0,24,17.6,44,42.398,44C760.603,118.334,777.803,98.734,777.803,74.734z')
    | &#x9;
    path#n(d='M817.603,4.335h28.399l65.599,86.199V4.335h30.4v139.998h-26.2l-67.799-88.999v88.999h-30.399V4.335z')
