meta(name="twitter:card", content="summary")
meta(name="twitter:title", content="dhaakon")
meta(name="twitter:description", content="Interactive Portfolio for creative technologist David Poyner.")
meta(name="twitter:image", content="http://dhaakon.com/img/share.jpg")

meta(property="og:title", content="dhaakon")
meta(property="og:type", content="website")
meta(property="og:url", content="http://www.dhaakon.com/")
meta(property="og:image", content="http://dhaakon.com/img/share.jpg")
meta(property="og:description", content="Interactive Portfolio for creative technologist David Poyner.")
meta(property="og:site_name", content="dhaakon")

