@import 'includes/settings';
@import 'includes/media-queries';

$color: white;

body{
  background: white;
  margin:0px;
}

.sketchpad{
  //width: 1000px;
  //height: 1000px;
  background: $color;
  margin: 0 auto;
  text-align: center;
  display: block;

  @include center();
}
