@import 'bourbon';

@import 'includes/animations';
@import 'includes/settings';
@import 'includes/media-queries';
@import 'sections/header';
@import 'font-awesome/font-awesome';

@import 'sections/work';
@import 'sections/contact';
@import 'sections/about';
@import 'sections/footer';
@import 'sections/modal';

$color: white;

html, body{ height: 100%; }

body{
  background: white;
  margin:0px;
  //@include transition( 200ms all );
}

#splash{
  height: 720px;
  text-align:center;
  position: relative;
  //min-width: 1280px;
  max-width: 1440px;
  display: block;
  @include viewport(md){
    min-width: 768px;
    max-width: 1024px; 
  }

  @include viewport(sm){
    min-width: 320px;
    max-width: 480px; 
    width: 100%;

    height: 480px
  }

  margin: 0 auto;
  @include ipad{
    //@include transform( scale( 0.5) );
  }

  img{
    position: absolute;
    //@include transition( 'background 3s' );
    @include transition( 300ms all );
    @include horizontal-align();
    bottom: 0px;
  }

  .arrow{
    @extend .fa;
    @extend .fa-long-arrow-down;
    @extend .arrow-bounce;
   
    color: black;
    //@include f_col( 0.6 ); 
    position: absolute;
    @include horizontal-align;
    bottom: -80px;
    font-size: 25px;
  }
}


.sketchpad{
  //width: 1000px;
  //height: 1000px;
  background: $color;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: absolute;
  z-index: -1;
  //min-height: 720px;
  @include viewport(sm){
    width: 100%;
    height: 480px;
  }

  @include transition( 300ms all );
  @include transition-delay( 0ms );
  @include horizontal-align();
}

canvas{
  display: block;
}

.main{
  min-height: 100px;
  //min-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.wrapper, .main{
  min-height: 1%;
  overflow: visible;
  height: 100%;
}

.container{
  height: 100%;
  min-height: 1%;
  overflow: visible;
}

.about, .contact{
  height: 100%;
}

section{
  clear: both;
  font-family: 'Rubik';
  min-height: 1%;
  overflow: visible;
}

