@import 'includes/settings';
@import 'includes/media-queries';
@import 'sections/header';
@import 'sections/work';
@import 'sections/contact';
@import 'sections/about';
@import 'sections/footer';

$color: white;


html, body{ height: 100%; }

body{
  background: white;
  margin:0px;

}

#splash{
  height: 720px;
}

.sketchpad{
  //width: 1000px;
  //height: 1000px;
  background: $color;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  min-height: 720px;
}

canvas{
  display: block;
}

.main{
  min-height: 100px;
  max-width: 1480px;
  margin: 0 auto;
}

.wrapper, .main{
  min-height: 1%;
  overflow: visible;
  height: 100%;
}

.container{
  height: 100%;
  min-height: 1%;
  overflow: visible;
}

.about, .contact{
  height: 100%;
}

section{
  clear: both;
  font-family: 'Rubik';
  min-height: 1%;
  overflow: visible;
}

