extends layout

block custom_styles
  link(href="https://fonts.googleapis.com/css?family=News+Cycle|Ubuntu+Condensed|Rubik|Signika|Source+Sans+Pro|Fjalla+One", rel="stylesheet")

block content
  div.main
    section#splash
      canvas.sketchpad( width=800, height=720 )
      img(src='./img/logo_large.png')
      .arrow

    section#name
      h1 creative technologist

    section#work
      h1#music-title <span class='music'>&#x266C <b>&#x266A</b> &#x266C <b>&#x266A</b></span> work work work work work work work <span class='music'>&#x266C <b>&#x266A</b> &#x266C <b>&#x266A</b></span>
      .project
        .title
          h1 Meus Momentos Gigantes
        .poster(data-src="https://www.youtube.com/embed/w1ntpqh6piU")
          //-iframe( src="https://www.youtube.com/embed/w1ntpqh6piU")
          button 
            i.play
          img(src='/img/meusmomentos.jpg')
          .vignette
        .specs
          .client
            h2 Client:&nbsp;
            h2 Claro/Google
          p.description 
            | Claro South America was looking for a way to connect with customers throughout the Rio Olympics. 
            | I led the development of a custom time-sensitive gallery which integrated multiple social media 
            | accounts and matched user photos with olympic moments.A custom backend was built which processed the 
            | photos through a nudity filter before being available for real-time moderation.
            </br>
            </br>
            | At the end of the olympics users were invited to create a dynamic video which used their timeline 
            | photos. <a href="https://www.youtube.com/watch?v=LwIgdIFYLZw">A custom video with the user’s photos could be then uploaded to youtube.</a>
          .role
            h2 role/skills
            ul
              li Lead Architect
              li Lead Developer (Front End)
              li Dynamic Video Creation
              li Google Cloud Platform
              li Docker
              li ECMA 6
              li ffmpeg
        .arrow

      .project.alt
        .title
          h1 Mad Libs
        .poster(data-src="https://www.youtube.com/embed/KdbGtQ-vVtU")
          button 
            i.play
          img(src='/img/madlibs.jpg')
          .vignette

        .specs
          .client
            h2 Client:&nbsp;
            h2 Kettle/Penguin
          p.description 
            | The immensely popular word game Mad Lib’s needed a digital reboot. The goal was to create a highly addictive,
            | scaleable, cross-platform application. All under a very tight deadline. I led the development as well as helped
            | guide the creative process insuring a successful launch. The game has been downloaded +2 million times and was
            | featured in the iTunes essential categories. It was also built to implement a smart template system which allowed
            | for multiple white label versions of the app: WWE, Family Guy, Hello Kitty!, Adventure Time etc…
            </br>
            </br>
            | <a target="_blank" href="https://twitter.com/AppStore/status/532742651528085504">Apple loved the app so much they tweeted about it upon release.</a> NBD.
          .role
            h2 role/skills
            ul
              li Lead Architect
              li Lead Developer
              li iOS Development
              li Titanium
              li Backbone
        .arrow
      .project
        .title
          h1 McDonald's Burger Showdown
        .poster(data-src="https://player.vimeo.com/video/173686291")
          button 
            i.play
          img(src='/img/mcdonalds.jpg')
          .vignette

          //-iframe(src="https://player.vimeo.com/video/173686291", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)


        .specs
          .client
            h2 Client:&nbsp;
            h2 Cossette/McDonalds
          p.description
            | I built a burger building platform for McDonald’s Chicago. This was all custom software built using 
            | PIXI.js as the rendering engine. There were two phases to this campaign, burger building and voting.
            | Each phase required a custom frontend and backend.
            </br>
            </br>
            | The campaign and platform was reused in multiple markets.
            | <a target="_blank" href="http://qz.com/738361/mcdonalds-created-a-build-your-own-burger-website-and-the-internet-used-it-to-make-racist-burgers/"> In New Zealand, someone forgot 
            | to update and use the profanity filter we implemented. This resulted in bad press and a virile article 
            | about inappropriate burger names.</a> Remember kids, always use a profanity filter.x
          .role
            h2 role/skills
            ul
              li Lead Architect
              li Lead Developer
              li PIXI.js
              li Node
              li Backbone
        .arrow
      .project.alt
        .title
          h1 Coke Zero Drinkable Billboard
        .poster(data-src="https://www.youtube.com/embed/jdvteFAmG_k")
          //-iframe( src="https://www.youtube.com/embed/jdvteFAmG_k")
          button 
            i.play
          img(src='/img/coke_zero.jpg')
          .vignette


        .specs
          .client
            h2 Client:&nbsp;
            h2 Ogilvy/Coke 
          p.description
            | I led the front-end development for the user experience of the Coke Drinkable Commercial/Billboard. 
            | During major sporting events users were encouraged to ‘shazam’ a Coke TV spot. They were then sent 
            | a text message providing a link to redeem a free coke zero coupon.
            <br>
            <br>
            | You can read more about the project in <a target="_blank" href="http://www.adweek.com/agencyspy/ogilvy-creates-drinkable-billboard-commercial-for-coke-zero/83855">adweek</a>.
          .role
            h2 role/skills
            ul
              li Lead Front-end Developer
              li Backend Developer
              li Node

        .arrow


      .project
        .title
          h1 McDonald's Interactive Billboard
        .poster(data-src="https://player.vimeo.com/video/124232650")
          //-iframe(src="https://player.vimeo.com/video/124232650", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
          button 
            i.play
          img(src='/img/mcdonalds-billboard.jpg')
          .vignette



        .specs
          .client
            h2 Client:&nbsp;
            h2 Bossa/McDonalds
          p.description
            | A one time experience which ran days before Christmas and was located in Piccadilly Circus. A floating Christmas 
            | cracker was displayed on a prominent billboard. Users were then encouraged to connect to the billboard via their
            | smartphone. Once two people connected the first person to swipe would receive a prize.

          .role
            h2 role/skills
            ul
              li Lead Architect
              li OpenFrameworks
              li Node
              li WebSockets

        .arrow

      .project.alt
        .title
          h1 og portfolio
        .poster
          a(href='/old-portfolio')
            img(src='/img/portfolio-image.jpg')
            .vignette

        .specs
          .client
            h2 Client:&nbsp;
            h2 me/myself/i
          p.description
            | My old portfolio built CoffeeScript using CoffeePhysics and my custom grunt process for parsing SVG files. 
            | Fun little diddy which showcases some of my older interactive work for clients such as IBM and UBS. Also be 
            | sure to check out some of my old experiments.
          .role
            h2 role/skills
            ul
              li JavaScript
              li SVG
              li CoffeeScript


        .arrow(style='display:none')

    section#contact
      h1 <strike> Call Me on My Cellphone</strike> Email:&nbsp;&nbsp;&nbsp;
      a(href="mailto:dhaakon@gmail.com") dhaakon@gmail.com

    section#about

    footer
      .links
        a.github( target="_blank", href='http://github.com/dhaakon')
        a.codepen(  target="_blank", href='http://codepen.com/dhaakon')
        a.instagram(  target="_blank", href='http://instagram.com/dhaakon')


block js_scripts
  script(src="/js/build.js")
