/*$subtleEase: cubic-bezier( 1.0, 0.7, 0.7, 1.0 );*/
.social {
  font-family: 'FontAwesome';
  border: 1.5px solid black;
  background: none;
  color: black;
  cursor: pointer; }

.social:hover {
  border: 1.5px solid black;
  background: black;
  color: white; }

.githubBtn, .instagramBtn, .facebookBtn, .twitterBtn {
  border-radius: 21px;
  width: 42px;
  height: 42px;
  font-size: 20px;
  margin-left: 12px; }

.githubBtn {
  margin-left: 0px; }

.instagramBtn:before {
  content: "\f16d"; }

.githubBtn:before {
  content: "\f09b"; }

.facebookBtn:before {
  content: "\f09a"; }

.twitterBtn:before {
  content: "\f099"; }

.instagramBtn:before, .facebookBtn:before, .twitterBtn:before, .githubBtn:before {
  font-family: "FontAwesome"; }

body {
  background-size: cover;
  background: black; }

html, body {
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

select {
  -webkit-appearance: listbox; }

*, *:before, *:after {
  box-sizing: inherit; }

::-webkit-input-placeholder {
  text-align: center; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

:-ms-input-placeholder {
  text-align: center; }

#wrapper {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#main {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px; }
  #main #line {
    margin: 28px auto 0 auto;
    width: 80%;
    height: 2px;
    background: white; }
  #main .static-bg {
    width: 100%; }
    #main .static-bg img {
      width: 100%; }
  #main .enterBtn {
    margin: 12% auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    width: 128px;
    height: 48px;
    /*border: 1px solid black;*/
    /*border:0px;*/
    opacity: 0;
    -webkit-transition: 500ms opacity;
    -moz-transition: 500ms opacity;
    transition: 500ms opacity;
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    transition-delay: 800ms;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2); }
  #main .enterBtn:hover {
    background: url('../images/clouds.jpg');
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.4); }
  #main #sketch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: 400ms opacity;
    -moz-transition: 400ms opacity;
    transition: 400ms opacity;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    transition-delay: 500ms; }
  #main #logo {
    -webkit-mask: url(../svg/logo.svg);
    -webkit-mask-repeat: no-repeat; }
  #main #header {
    position: absolute;
    top: 32%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    -webkit-transition: 600ms all ease-in-out;
    -moz-transition: 600ms all ease-in-out;
    transition: 600ms all ease-in-out;
    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%); }
    #main #header h1 {
      margin: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 10.6rem;
      color: black;
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      display: inline-block;
      height: 0px;
      margin: 0; }
    #main #header p {
      color: black;
      display: inline-block;
      height: 0px;
      margin: 32px 0;
      font-family: 'Raleway', sans-serif;
      font-weight: 800; }
  #main .social-buttons {
    margin-top: 10px; }

