.social{
    font-family:'FontAwesome';
    border: 1.5px solid black;
    background: none;
    color: black;
    cursor: pointer;
}

.social:hover{
    border: 1.5px solid black;
    background: black;
    color: white;
}


.githubBtn,
.instagramBtn,
.facebookBtn,
.twitterBtn{
    border-radius:21px;
    width:42px;
    height:42px;
    font-size:20px;
    margin-left:12px;
};

.githubBtn{margin-left:0px;}

.instagramBtn:before{
    content: "\f16d";
}
.githubBtn:before{
    content: "\f09b"
};
.facebookBtn:before{
    content: "\f09a";
};
.twitterBtn:before{
    content: "\f099";
};

.instagramBtn:before,
.facebookBtn:before,
.twitterBtn:before,
.githubBtn:before{
    font-family:"FontAwesome";
}
