#main
    #header
        //-#line
        video#logo(src="/video/cloud-timelapse.mp4", loop="true", autoplay="true")
        //-#line
        //-p Portfolio of David Poyner —  Full-Stack Creative Developer
        //-include ../includes/social.jade
        br
        button.enterBtn enter
    #sketch
    .static-bg
        img(src="/images/skyline_hidef.jpg", alt="gotham city")
