#main
    #header
        h1 dhaakon
        p interactive portfolio of david poyner —  full stack creative developer
        .social-buttons
            a(href="//github.com/dhaakon", target="_blank")
                button.githubBtn.social
            a(href="//facebook.com/dhaakon", target="_blank")
                button.facebookBtn.social
            a(href="//twitter.com/dhaakon", target="_blank")
                button.twitterBtn.social
    canvas#sketch
